---
import NextJs from "../icons/NextJs.astro";
import React from "../icons/React.astro";
import Css from "../icons/Css.astro";
import Tailwind from "../icons/Tailwind.astro";
import Html from "../icons/Html.astro";
import JavaScript from "../icons/JavaScript.astro";
import TypeScript from "../icons/TypeScript.astro";
import StyleComponents from "../icons/StyleComponents.astro";
import ProjectItem from "../cards/ProjectItem.astro";

const TAGS = {
    NEXT: {
        name: "Next.js",
        class: "bg-neutral-800 dark:bg-neutral-800 text-white",
        icon: NextJs,
    },
    REACT: {
        name: "React",
        class: "bg-neutral-800 dark:bg-[#63e] text-white",
        icon: React,
    },
    CSS: {
        name: "CSS",
        class: "bg-neutral-800 dark:bg-neutral-800 text-white",
        icon: Css,
    },
    HTML: {
        name: "HTML5",
        class: "bg-neutral-800 dark:bg-neutral-800 text-white",
        icon: Html,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-neutral-800 dark:bg-[#63e] text-white",
        icon: Tailwind,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-neutral-800 dark:bg-[#63e] text-white",
        icon: JavaScript,
    },
    TYPESCRIPT: {
        name: "TypeScript",
        class: "bg-neutral-800 dark:bg-[#63e] text-white",
        icon: TypeScript,
    },
    STYLECOMPONENTS: {
        name: "Style Components",
        class: "bg-neutral-800 dark:bg-neutral-800 text-white",
        icon: StyleComponents,
    },
};

const PROJECTS = [
    {
        title: "Digital Money House",
        subtitle: "Billetera Virtual",
        description:
            "Sitio web que simula una billetera virtual desarrollada para el proyecto final de la carrera de Certified Tech Developer de Digital House, Globant y Mercado Libre. Creada desde cero con Next.js, React, TypeScript y Style Components.",
        link: "https://digitalmoneyhouse.vercel.app/",
        github: "https://github.com/lucaszhh/digital-money-house",
        image: "/projects/png/dmh.png",
        tags: [TAGS.NEXT, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.STYLECOMPONENTS],
    },
    {
        title: "Git con GitHub",
        subtitle: "Plataforma educativa",
        description:
            "Plataforma gratuita para aprender a utilizar git flow con la consola de Git y el repositorio remoto y colaborativo de GitHub. Creado desde cero con HTML, CSS y JavaScript.",
        link: "https://git-con-github.netlify.app/",
        github: "https://github.com/lucaszhh/git-con-github",
        image: "/projects/png/git-con-github.png",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
    },
    {
        title: "Casa del Futuro Godoy Cruz",
        subtitle: "Landing Page",
        description:
            "Landing page desarrollada para la institución pública Casa del Futuro Godoy Cruz. Creada desde cero con Next.js, React, TypeScript y CSS.",
        link: "https://casa-del-futuro.vercel.app/",
        github: "https://github.com/lucaszhh/casa-del-futuro",
        image: "/projects/png/cdfnext.png",
        tags: [TAGS.NEXT, TAGS.REACT, TAGS.TYPESCRIPT, TAGS.CSS],
        cdf: true,
        linkPrev: "/projects",
    },
];
---

<section class="py-4" id="proyectos">
    <h2 class="text-4xl font-bold">Proyectos</h2>
</section>
<section class="flex flex-col justify-center items-center gap-y-16">
    {
        PROJECTS.map(
            ({
                image,
                title,
                description,
                tags,
                github,
                link,
                cdf,
                subtitle,
            }) => (
                <ProjectItem
                    image={image}
                    title={title}
                    description={description}
                    tags={tags}
                    github={github}
                    link={link}
                    cdf={cdf}
                    subtitle={subtitle}
                />
            ),
        )
    }
    {
        /*
    ADD PAGE PROJECTS
    <ButtonLink url="/" icon={<ArrowRight/>} description="Ver mas proyectos"/> 
    */
    }
</section>
